__pycache__/
*.py[cod]
.pytest_cache/
*.egg-info/
build/
dist/
rpms/
release-v*/
.venv/
venv/
.testvenv/
work-rpmroot/
work-rpmroot-log/
.rpmbuild/
.rpmroot/
.dnf-cache/
.dnf-log/
work-rpm-spec/
work-rpm-build/
