pkgbase = mouse-control
	pkgdesc = Headless evdev/uinput mouse remapping with optional hardware backends
	pkgver = 0.8.2
	pkgrel = 1
	url = https://github.com/DonGeronimo7/mouse-control
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	depends = python
	depends = python-evdev
	depends = python-dbus-next
	depends = python-packaging
	depends = systemd
	optdepends = openrazer: optional Razer hardware integration
	source = mouse-control::git+https://github.com/DonGeronimo7/mouse-control.git#tag=v0.8.2
	sha256sums = SKIP

pkgname = mouse-control
